@charset "UTF-8";

.text-presentation{
  text-align: justify;
}
.item-text{
  padding-bottom: 20px;
}
.contact-content{
  text-align: center;
}
.item-contact{
  padding-bottom: 65px;
}
.btn-social-esling {
  height: 5.5rem;
  width: 5.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
#contact{
  background-image: url(../assets/img/fond-test.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
}
.btn-dark-esling-contact{
  background-color: #fed136;
  border-color: #fed136;

}


header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 37rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/header-bg-smartphone.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center bottom;
  background-size: cover;
}
@media (min-width: 768px) {
  header.masthead {
    background-image: url("../assets/img/header-bg.jpg");
  }
}

.page-section {
  padding: 6rem 0;
  linear-gradient(#c2cc8c, #fffedb)
  background: linear-gradient(#fcd24017, #fff);
}
.bg-light {
  background: linear-gradient(#fff, #fcd24017);

}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 47rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}




.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  height: 27rem;
  /* border: 0.5rem solid rgba(0, 0, 0, 0.1); */
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.video-youtube {
    margin-bottom: 30px;
}
iframe {
   display: block;
   margin: 0 auto;
}
.embedresize {
  max-width: 560px;
  margin: auto;
}
.block-13 .owl-nav, .slide-one-item .owl-nav {
  position: relative;
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #000; }
    .block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
      opacity: .2; }

.slide-one-item.home-slider .owl-nav {
position: absolute !important;
top: 50% !important;
bottom: auto !important;
width: 100%; }

.slide-one-item.home-slider .owl-prev {
left: 10px !important; }

.slide-one-item.home-slider .owl-next {
right: 10px !important; }

.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
color: #fff;
position: absolute !important;
top: 50%;
padding: 0px;
height: 50px;
width: 50px;
border-radius: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.2);
-webkit-transition: .3s all ease-in-out;
-o-transition: .3s all ease-in-out;
transition: .3s all ease-in-out;
line-height: 0;
text-align: center;
font-size: 25px; }
@media (min-width: 768px) {
  .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    font-size: 25px; } }
.slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
  background: black; }

.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
opacity: 10;
visibility: visible; }
